@import "./variables.less";
@import "./mixins.less";

:root {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    font-size: @font-size-small;
    background: lightgrey;

    header {
        .flex-row();
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
        background: grey;

        nav {
            .flex-row();
            justify-content: space-between;
            align-items: flex-start;
            font-weight: bold;

            a {
                border-left: 1px solid black;
                padding: 0 1rem;
                text-decoration: none;
                color: black;
            }

            a:first-of-type {
                border-left: none;
            }
        }
    }

    main {

        .jumbotron {
            .flex-column;
            align-items: center;
            background-image: url('./images/mushon-tamir-iHTBNp8L-SQ-unsplash.jpg');
            // Photo by Mushon Tamir on Unsplash
            height: 40rem;
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover;
            border: 1px solid red;

            h1 {
                color: white;
                margin-top: 17rem;
            }

            input {
                margin-top: 1rem;
                font-size: @font-size-medium * 0.7;
                width: 40rem;
                height: 5rem;
                text-align: center;
                margin-top: 7rem;
                border-radius: 2rem;
            }
        }

        .mainContent {
            .flex-row();
            justify-content: space-around;
            padding: 1rem;
            flex-wrap: wrap;

            .twoColumn {
                padding: 1rem;
                background: lightgrey;
                width: 40%;
                text-align: center;

                img {
                    width: 80%;
                    margin-bottom: 2rem;
                }

                p {
                    text-align: left;
                }
            }

            .joinnow {
                .flex-row();
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 3rem;

                a {
                    background: grey;
                    padding: 2rem 7rem;
                    text-decoration: none;
                    font-size: @font-size-medium;
                    color: white;
                    font-weight: bold;
                    border-radius: 2rem;
                }
            }
        }

        .mediaReviews {
            .flex-row();
            justify-content: space-around;
            padding: 2rem;
            background: lighten(grey, 20%);
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        background: grey;

        .about {
            width: 50%;
            padding: 2rem;
        }
        
        .navigation, .contact {
            width: 25%;
            padding: 2rem;
            
            nav {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

h1 {
    font-size: @font-size-large;
    font-weight: bold;
    font-family: 'Lora', serif;
}

h2 {
    font-size: @font-size-medium;
    font-weight: bold;
    font-family: 'Lora', serif;
}

h3 {
    font-size: @font-size-small;
    font-weight: bold;
    font-family: 'Lora', serif;
}