@import "./variables.less";
@import "./mixins.less";
@import "./media.less";

:root {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    font-size: @font-size-small;
    background: lightgrey;

    header {
        .flex-row();
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
        background: grey;

        h2 {
            margin-bottom: 1rem;
        }

        nav {
            .flex-row();
            justify-content: space-between;
            align-items: flex-start;
            font-weight: bold;

            a {
                border-left: 1px solid black;
                padding: 0 1rem;
                text-decoration: none;
                color: black;
            }

            a:first-of-type {
                border-left: none;
            }
        }

        @media @tablet {
            .flex-column();
            justify-content: center;
            align-items: center;

            h2 {
                text-align: center;
            }

            nav {
                margin-top: 1rem;
            }
        }
    }

    main {

        .jumbotron {
            .flex-column;
            align-items: center;
            background-image: url('./images/mushon-tamir-iHTBNp8L-SQ-unsplash.jpg');
            // Photo by Mushon Tamir on Unsplash
            height: 40rem;
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover;
            border: 1px solid red;

            h1 {
                color: white;
                margin: 10% 10rem 0rem 10rem;
                text-align: center;
            }

            input {
                margin-top: 10%;
                font-size: @font-size-medium * 0.7;
                width: 40rem;
                height: 5rem;
                text-align: center;
                margin-top: 7rem;
                border-radius: 2rem;
            }

        }

        .mainContent {
            .flex-row();
            justify-content: space-evenly;
            flex-wrap: wrap;

            .twoColumn {
                padding: 2rem;
                margin: 2rem;
                background: lightgrey;
                width: 40%;
                text-align: center;
                border: 1px solid black;

                h2 {
                    margin-bottom: 2rem;
                }

                .image {
                    margin-bottom: 2rem;

                    img {
                        width: 100%;
                    }
                }

                p {
                    text-align: left;
                    line-height: 2rem;
                }
            }

            .joinnow {
                .flex-row();
                justify-content: center;
                align-items: center;
                padding: 0rem 3rem 2rem 3rem;

                a {
                    background: grey;
                    padding: 2rem 7rem;
                    text-decoration: none;
                    font-size: @font-size-medium * 0.7;
                    color: white;
                    font-weight: bold;
                    border-radius: 2rem;
                    text-align: center;
                    line-height: 3rem;
                }
            }

            @media @tablet {
                .flex-column();
                flex-direction: column;
                align-items: center;

                .twoColumn {
                    width: 80%;
                }

            }

        }

        .mediaReviews {
            .flex-row();
            justify-content: space-around;
            padding: 2rem;
            background: lighten(grey, 20%);
        }
    }

    footer {
        .flex-row();
        flex-wrap: nowrap;
        justify-content: space-between;
        background: grey;

        .about {
            width: 50%;
            padding: 2rem;
            line-height: 2rem;
        }
        
        .navigation, .contact {
            width: 25%;
            padding: 2rem;
            
            nav {
                .flex-column();

                a {
                    padding: 0.3rem 0rem;
                }
            }

            p {
                padding: 0.3rem 0rem;
            }
        }

        @media @tablet {
            .flex-column();

            .about, .navigation, .contact {
                width: 100%;
            }
        }
    }
}

h1 {
    font-size: @font-size-large;
    font-weight: bold;
    font-family: 'Lora', serif;
}

h2 {
    font-size: @font-size-medium;
    font-weight: bold;
    font-family: 'Lora', serif;
}

h3 {
    font-size: @font-size-small;
    font-weight: bold;
    font-family: 'Lora', serif;
}