:root {
    font-size: 62.5%;
    box-sizing: border-box;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    background: lightgrey;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0;
        background: grey;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-weight: bold;

            a {
                border-left: 1px solid black;
                padding: 0 1rem;
                text-decoration: none;
                color: black;
            }

            a:first-of-type {
                border-left: none;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;

        .jumbotron {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('./images/mushon-tamir-iHTBNp8L-SQ-unsplash.jpg');
            // Photo by Mushon Tamir on Unsplash
            height: 40rem;
            background-position: center; 
            background-repeat: no-repeat; 
            background-size: cover;
            border: 1px solid red;

            h1 {
                color: white;
                margin-top: 17rem;
            }

            input {
                margin-top: 1rem;
                font-size: 2rem;
                width: 50%;
                text-align: center;
                margin-top: 7rem;
            }
        }

        .mainContent {
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            flex-wrap: wrap;

            .twoColumn {
                padding: 1rem;
                background: lightgrey;
                width: 40%;

                img {
                    width: 80%;
                }
            }

            .joinnow {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3rem;

                a {
                    background: grey;
                    padding: 2rem 7rem;
                    text-decoration: none;
                    font-size: 2rem;
                    color: white;
                    font-weight: bold;
                }
            }
        }

        .mediaReviews {
            display: flex;
            justify-content: space-around;
            padding: 2rem;
            background: lighten(grey, 20%);
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        background: grey;

        .about {
            width: 50%;
            padding: 1rem;
        }
        
        .navigation, .contact {
            width: 25%;
            padding: 1rem;
            
            nav {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}