:root {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  font-size: 1.7rem;
  background: lightgrey;
}
.container header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background: grey;
}
.container header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: bold;
}
.container header nav a {
  border-left: 1px solid black;
  padding: 0 1rem;
  text-decoration: none;
  color: black;
}
.container header nav a:first-of-type {
  border-left: none;
}
.container main .jumbotron {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/mushon-tamir-iHTBNp8L-SQ-unsplash.jpg');
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}
.container main .jumbotron h1 {
  color: white;
  margin-top: 17rem;
}
.container main .jumbotron input {
  margin-top: 1rem;
  font-size: 2.45rem;
  width: 40rem;
  height: 5rem;
  text-align: center;
  margin-top: 7rem;
  border-radius: 2rem;
}
.container main .mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
}
.container main .mainContent .twoColumn {
  padding: 1rem;
  background: lightgrey;
  width: 40%;
  text-align: center;
}
.container main .mainContent .twoColumn img {
  width: 80%;
  margin-bottom: 2rem;
}
.container main .mainContent .twoColumn p {
  text-align: left;
}
.container main .mainContent .joinnow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.container main .mainContent .joinnow a {
  background: grey;
  padding: 2rem 7rem;
  text-decoration: none;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}
.container main .mediaReviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  background: #b3b3b3;
}
.container footer {
  display: flex;
  justify-content: space-between;
  background: grey;
}
.container footer .about {
  width: 50%;
  padding: 2rem;
}
.container footer .navigation,
.container footer .contact {
  width: 25%;
  padding: 2rem;
}
.container footer .navigation nav,
.container footer .contact nav {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}
h2 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}
h3 {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}
